.hero-main-background {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(../../img/mobile/hero-hotel-bg-mobile.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-main-background {
    background-image: url(../../img/mobile/hero-hotel-bg-mobile-2x.jpg);
  }
}

@media screen and (min-width: 415px) {
  .hero-main-background {
    background-image: url(../../img/tablet/hero-hotel-bg-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-main-background {
      background-image: url(../../img/tablet/hero-hotel-bg-tablet-2x.jpg);
    }
  }
}

@media screen and (min-width: 1025px) {
  .hero-main-background {
    background-image: url(../../img/desktop/hero-hotel-bg-desktop.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-main-background {
    background-image: url(../../img/desktop/hero-hotel-bg-desktop-2x.jpg);
  }
}

/*----------------------HEADER------------------*/

.header-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 143px;
  z-index: 10;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
}

.container-header {
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Film P3', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(38.72 / 36);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--color-title-mimiho-white);
  text-decoration: none;
  margin-right: auto;
}

.header-roster {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 359px) {
  .header-roster {
    width: 140px;
    justify-content: right;
    flex-wrap: wrap;
  }
}

.nav-menu-link {
  margin-right: 6px;
  display: block;
  padding: 15px 0 15px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19.5 / 16);
  letter-spacing: 0.02em;
  color: var(--color-text-brown);
  transition: color var(--transition-function);
}
.nav-menu-link:hover,
.nav-menu-link:focus {
  color: var(--color-contacts-section-text-brown);
}

.nav-items:nth-child(odd) {
  margin-right: 6px;
}

@media screen and (min-width: 360px) {
  .nav-items:nth-child(2) {
    margin-right: 12px;
  }
}

.icon {
  fill: var(--color-svg-fill-yellow);
  transition: fill var(--transition-function);
}
.nav-menu-contact:hover .icon,
.nav-menu-contact:focus .icon {
  fill: var(--color-svg-fill-broun);
}

.nav-menu-contact {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17.07 / 14);
  letter-spacing: 0.02em;
  color: var(--color-text-white);
}

.phone {
  display: none;
}

/* ----------MOBILE------------ */

@media screen and (min-width: 414px) {
  .container-header {
    width: 414px;
  }

  .nav-menu-link {
    padding: 28px 0;
  }
}
/* ----------TABLET------------ */
@media screen and (min-width: 1024px) {
  .container-header {
    width: 1024px;
    padding: 0 47px;
  }

  .logo {
    font-size: 40px;
    line-height: calc(43.03px / 40px);
  }

  .nav-items:nth-child(odd) {
    margin-right: 32px;
  }

  .nav-items:nth-child(2) {
    margin-right: 72px;
  }

  .nav-menu-link {
    padding: 38px 0;
    font-size: 20px;
    line-height: calc(24.38px / 20px);
  }

  .phone {
    display: block;
  }

  .nav-menu-contact {
    padding: 8px;
    border: 1px solid var(--color-soc-icon-fill);
    border-radius: 2px;
    transition: border-color var(--transition-function),
      color var(--transition-function);
  }
  .nav-menu-contact:hover,
  .nav-menu-contact:focus {
    border-color: var(--color-contacts-section-text-brown);
    color: var(--color-contacts-section-text-brown);
  }

  .icon {
    margin-right: 4px;
  }
}
/* ----------DESCTOP------------ */

@media screen and (min-width: 1280px) {
  .container-header {
    width: 1280px;
    padding: 0 85px;
  }

   .logo {
    margin-right: 135px;
  }
}

/*----------------------SOC-MEDIA------------------*/

.hero-soc-media {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.hero-soc-media .link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-soc-media .soc-icon {
  fill: var(--color-svg-fill-yellow);
  transition: fill var(--transition-function), transform 1400ms;
}

.hero-soc-media .soc-icon:hover,
.hero-soc-media .soc-icon:focus {
  fill: var(--color-svg-fill-broun);
  transform: rotateZ(360deg);
}

/*-----------------SECTION HERO---------------*/

.hero {
  margin: 0 auto;
}

.hero .container {
  position: relative;
  padding-top: 405px;
  padding-bottom: 17px;
}

.hero-room-title {
  max-width: 325px;
  margin-bottom: 14px;

  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: var(--color-text-white);
}

.part-room-title {
  text-transform: lowercase;
}

.hero-room-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  max-width: 325px;
  margin-bottom: 17px;
  color: var(--color-text-white);
}

.hero-room-btn {
  position: absolute;
  bottom: 40px;
  right: 73px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 48px;

  border: 2px solid var(--color-text-white);
  border-radius: 25px;
  padding: 14px 32px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;

  color: var(--colors-text-btn-default);
  background-color: var(--colors-bg-btn-default);

  transition: color var(--transition-function),
    background-color var(--transition-function),
    border-color var(--transition-function);
}

@media screen and (min-width: 320px) and (max-width: 413.99px) {
  .hero-room-btn {
    right: 15px;
  }
}

.hero-room-btn:hover,
.hero-room-btn:focus {
  color: var(--colors-text-btn-active);
  background-color: rgb(255, 255, 255, 0.4);
  border-color: var(--colors-text-btn-active);
}

.hero-room-slider-container {
  position: absolute;
  top: 40%;
  transform: translate(0, -40%);
  right: 15px;
  left: 15px;
  display: flex;
  justify-content: space-between;
}

.hero-room-slider {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0.65);
}
.hero-room-slider-icon {
  fill: var(--color-svg-fill-white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-room-slider-icon:hover,
.hero-room-slider-icon:focus {
  fill: var(--color-svg-fill-yellow);
}

.map-location {
  position: absolute;
  top: 0;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 47px;
  padding: 8px 7px 8px 5px;
  margin-right: auto;
  border: 1px solid var(--color-soc-icon-fill);
  border-radius: 2px;
  z-index: 20;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.068) 0%,
    rgba(0, 0, 0, 0.253) 100%,
    rgba(0, 0, 0, 0.068) 0
  );
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: var(--color-contacts-address-hero);
  text-decoration: none;
  transition: border-color var(--transition-function),
    color var(--transition-function);
}

.hero .hero-elements .location-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;

  fill: var(--color-soc-icon-fill);
  transition: fill var(--transition-function);
}

.hero .map-location:hover,
.hero .map-location:focus {
  border-color: var(--color-contacts-section-text-brown);
  color: var(--color-contacts-section-text-brown);
}

.hero .hero-elements .map-location:hover .location-icon,
.hero .hero-elements .map-location:focus .location-icon {
  fill: var(--color-svg-fill-broun);
}

/* ===============MOBILE=============== */

@media screen and (min-width: 414px) {
  .container {
    /* max-width: 414px; */
    max-width: 414px;
  }

  .map-location {
    background: none;
  }

  .map-location {
    position: absolute;
    top: -15px;
  }
}

/* ===============TABLET=============== */

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }

  /*---------------SECTION HERO-------------*/

  .hero .hero-elements .location-icon:hover,
  .hero .hero-elements .location-icon:focus,
  .hero .soc-media .soc-icon:hover,
  .hero .soc-media .soc-icon:focus {
    fill: var(--color-svg-fill-broun);
  }

  .hero .container {
    padding-top: 373px;
    padding-bottom: 22px;
  }

  .map-location {
    position: static;

    width: 285px;
    height: 56px;

    font-size: 16px;
  }

  .hero .hero-elements .location-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  .hero-room-title {
    max-width: 509px;
    margin-bottom: 24px;

    font-size: 36px;
  }

  .hero-room-text {
    max-width: 400px;
    font-size: 16px;
    margin-bottom: 24px;
  }

  .hero-room-btn {
    bottom: 62px;
    right: 15px;
  }

  .hero-room-slider-container {
    right: 15px;
    left: 15px;
  }

  .hero-elements-thumb {
    display: flex;
    align-items: start;
    align-items: center;
    gap: 40px;
  }

  /*-----------------SOC-MEDIA-------------------*/
  .hero-soc-media {
    flex-direction: row;
    gap: 20px;
  }
}

/* ===============DESKTOP=============== */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }

  /*-----------------SOC-MEDIA-------------------*/

  .hero-soc-media {
    position: absolute;
    top: -62px;
    right: 0;
    z-index: 10;
  }

  /*----------------SECTION HERO-----------------*/

  .hero .container {
    padding-top: 427px;
    padding-bottom: 48px;
  }

  .hero-room-text {
    margin-bottom: 0;
  }

  .hero-room-btn {
    bottom: 66px;
    right: 15px;
  }

  .hero-room-slider-container {
    right: 15px;
    left: 15px;
  }

  .hero-elements {
    display: none;
  }
  .map-location {
    display: none;
  }
}
