<section class="contacts container">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts-first-box">
        <h3 class="contacts-title">MIMIHO</h3>
        <p class="contacts-text">Ресторанно-готельний комплекс</p>
        <ul class="contacts-list list">
            <li class="contacts-item">Ресторан</li>
            <li class="contacts-item">
                <svg class="contacts-item-icon" width="24" height="24">
                    <use href="./img/icons.svg#icon-fluent_phone-24-regular"></use>
                </svg>
                <a href="" class="contacts-item-link link">095 555 95 33</a>
            </li>
            <li class="contacts-item">Готель</li>
            <li class="contacts-item">
                <svg class="contacts-item-icon" width="24" height="24">
                    <use href="./img/icons.svg#icon-fluent_phone-24-regular"></use>
                </svg>
                <a href="" class="contacts-item-link link">066 849 10 89</a>
                <a href="" class="contacts-item-link link">067 275 85 40</a>
            </li>
        </ul>
        <a class="contacts-address">
            <svg class="contacts-address-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-entypo_location-pin"></use>
            </svg>
            <address class="contacts-address-text">
                Україна, м. Полтава, вул. Маршала Бірюзова, 15
            </address>
        </a>
    </div>
    <div class="contacts-second-box">
        <picture>
            <source
                srcset="./img/mobile/contact-address-mob-1x.jpg 1x,
                        ./img/mobil/contact-address-mob-2x.jpg 2x
                        "
                media="(max-width: 1023px)"
            >
            <source
                srcset="./img/tablet/contact-address-tab-1x.jpg 1x,
                        ./img/tablet/contact-address-tab-2x.jpg 2x
                        "
                media="(max-width: 1279px)"
            >
            <source
                srcset="./img/desktop/contact-address-desk-1x.jpg 1x,
                        ./img/desktop/contact-address-desc-2x.jpg 2x
                        "
                media="(min-width: 1280px)"
            >
            <img 
                src="./img/desktop/contact-address-desk-1x.jpg" 
                alt="image of a contact address card"
                width="634"
                height="412">
        </picture>
    </div>
</section>