<section class="about-restaurant">
  <div class="container">
    <div class="about-rest-container">
      <div class="about-rest-title">
        <p class="about-rest-slogan">Amet minim mollit non</p>
        <h2 class="about-titles">Mimiho</h2>
        <p class="about-rest-main-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <picture class="about-rest-img">
        <source
          srcset="
            ./img/desktop/about-rest/rest-inter-1.jpg    1x,
            ./img/desktop/about-rest/rest-inter-1-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/tablet/about-rest/rest-inter-1.jpg    1x,
            ./img/tablet/about-rest/rest-inter-1-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/mobile/restaurant_interior/restaurant-interior_1.jpg 1x,
            ./img/mobile/restaurant_interior/restaurant-interior-1mob-2x.jpg 2x"
          media="(max-width: 1023px)"
        />

        <img
          class="about-first-images"
          src="./img/mobile/restaurant_interior/restaurant-interior_1.jpg"
          alt="restaurant interior"
        />
      </picture>
    </div>
    <div class="second-rest-about">
      <picture class="">
        <source
          srcset="
            ./img/desktop/about-rest/rest-inter-2.jpg    1x,
            ./img/desktop/about-rest/rest-inter-2-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/tablet/about-rest/rest-inter-2.jpg    1x,
            ./img/tablet/about-rest/rest-inter-2-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/mobile/restaurant_interior/restaurant-interior_2.jpg 1x,
            ./img/mobile/restaurant_interior/restaurant-interior_2_2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />

        <img
          class="about-second-images"
          src="./img/mobile/restaurant_interior/restaurant-interior_2.jpg"
          alt="restaurant terrace"
        />
      </picture>
      <p class="about-secondary-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <!-- PLace for slider -->

    <div class="slider-rest-box">
      <ul class="list slider-rest-list">
        <li class="slider-rest-item">
          <picture>
            <source
              srcset="
                ./img/desktop/slider-desktop/rest-1.jpg    1x,
                ./img/desktop/slider-desktop/rest-1-2x.jpg 2x
              "
              media="(min-width: 1280px)"
              sizes="254px"
            />
  
            <source
              srcset="
                ./img/tablet/slider-tablet/rest-1.jpg    1x,
                ./img/tablet/slider-tablet/rest-1-2x.jpg 2x
              "
              media="(min-width: 1024px)"
              sizes="194px"
            />
  
            <source
              srcset="
                ./img/mobile/slider-mobile/rest-1.jpg    1x,
                ./img/mobile/slider-mobile/rest-1-2x.jpg 2x
              "
              media="(max-width: 1023px)"
              sizes="254px"
            />
  
            <img
              src="./img/mobile/slider-mobile/rest-1.jpg"
              alt=""
              class="swiper-slide"
            />
          </picture>
        </li>
        <li class="slider-rest-item">
          <picture>
            <source
              srcset="
                ./img/desktop/slider-desktop/rest-2.jpg      1x,
                ./img/desktop/slider-desktop/rest-2-2x.jpg 2x
              "
              media="(min-width: 1280px),"
            />
            <source
              srcset="
                ./img/tablet/slider-tablet/rest-2.jpg      1x,
                ./img/tablet/slider-tablet/rest-2-2x.jpg 2x
              "
              media="(min-width: 1024px),"
            />
            <source
              srcset="
                ./img/mobile/slider-mobile/rest-2.jpg      1x,
                ./img/mobile/slider-mobile/rest-2-2x.jpg 2x
              "
              media="(max-width: 1023px),"
            />
            <img
              src="./img/mobile/slider-mobile/rest-2.jpg"
              alt=""
              class="swiper-slide"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="slider-arrow-box">
      <ul class="list slider-arrow-list">
          <li class="slider-rest-item">
            <button class="arrow-slider-btn" type="button">
              <svg width="30px" height="17px" class="arrow-slider-icon">
                  <use href="./img/icons.svg#icon-cil_arrow-left"></use>
              </svg>
            </button>
          </li>
          <li>
            <button class="arrow-slider-btn" type="button">
              <svg width="30px" height="17px" class="arrow-slider-icon">
                  <use href="./img/icons.svg#icon-cil_arrow-right"></use>
              </svg>
            </button>
          </li> 
      </ul>
    </div>

    <!-- _____SLIDER_END_____ -->
  </div>
</section>
