    <section class="details-restaurant">
      <div class="container">
        <h3 class="details-restaurant-logo">MIMIHO</h3>
        <h2 class="details-restaurant-title">Ресторан</h2>
        <p class="details-restaurant-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="details-restaurant-wrapper">
          <div class="details-restaurant-imgs">
            <ul class="details-restaurant-list">
              <li>
                <picture>
                  <source
                    srcset="
                      ./img/desktop/main-page-restaurant-desk/sl-food-1-desk-1x.jpg 1x,
                      ./img/desktop/main-page-restaurant-desk/sl-food-1-desk-2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./img/desktop/main-page-restaurant-desk/sl-food-1-desk-1x.jpg 1x,
                      ./img/desktop/main-page-restaurant-desk/sl-food-1-desk-2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <source
                    srcset="
                      ./img/mobile/main-page-restaurant-mob/sl-food-1-mob-1x.jpg 1x,
                      ./img/mobile/main-page-restaurant-mob/sl-food-1-mob-2x.jpg 2x
                    "
                    media="(min-width: 320px)"
                  />
                  <img
                    src="./img/desktop/main-page-restaurant-desk/sl-food-1-desk-1x.jpg"
                    alt="Restaurant-1"
                  />
                </picture>
              </li>
              <li>
                <picture>
                  <source
                    srcset="
                      ./img/desktop/main-page-restaurant-desk/sl-food-2-desk-1x.jpg 1x,
                      ./img/desktop/main-page-restaurant-desk/sl-food-2-desk-2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./img/desktop/main-page-restaurant-desk/sl-food-2-desk-1x.jpg 1x,
                      ./img/desktop/main-page-restaurant-desk/sl-food-2-desk-2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <source
                    srcset="
                      ./img/mobile/main-page-restaurant-mob/sl-food-2-mob-1x.png 1x,
                      ./img/mobile/main-page-restaurant-mob/sl-food-2-mob-2x.png 2x
                    "
                    media="(min-width: 320px)"
                  />
                  <img
                    src="./img/desktop/main-page-restaurant-desk/sl-food-2-desk-1x.jpg"
                    alt="Restaurant-2"
                  />
                </picture>
              </li>
              <li>
                <picture>
                  <source
                    srcset="
                      ./img/desktop/main-page-restaurant-desk/sl-food-3-desk-1x.jpg 1x,
                      ./img/desktop/main-page-restaurant-desk/sl-food-3-desk-2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./img/tablet/main-page-restaurant-tab/sl-food-3-tab-1x.jpg 1x,
                      ./img/tablet/main-page-restaurant-tab/sl-food-3-tab-2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <img
                    src="./img/desktop/main-page-restaurant-desk/sl-food-3-desk-1x.jpg"
                    alt="Restaurant-3"
                  />
                </picture>
              </li>
            </ul>
            <ul class="details-restaurant-arrows">
              <li>
                <button type="button" class="btn-arrow btn">
                  <svg class="icon" width="32" height="32">
                    <use href="./img/icons.svg#icon-cil_arrow-left"></use>
                  </svg>
                </button>
              </li>
              <li>
                <button type="button" class="btn-arrow btn">
                  <svg class="icon" width="32" height="32">
                    <use href="./img/icons.svg#icon-cil_arrow-right"></use>
                  </svg>
                </button>
              </li>
            </ul>
          </div>
          <div class="details-restaurant-btns">
            <button type="button" class="details-restaurant-btn btn js-open-modal" data-modal="1">
              Забронювати столик
            </button>
            <a href="./restaurant-page.html" class="details-restaurant-link"
              >Переглянути меню</a>
          </div>
        </div>
      </div>
    </section>
  


