<section class="about-restaurant">
    <div class="container ">
        <div class="about-rest-container">
            <div class="about-rest-title">
                <p class="about-rest-slogan">Amet minim mollit non</p>
                <h2 class="about-titles">Mimiho</h2>
                <p class="about-rest-main-text"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                    amet.</p>
            </div>

            <picture class="about-rest-img">
                <source
                    srcset="./img/desktop/about-rest/rest-inter-1.jpg 1x, ./img/desktop/about-rest/rest-inter-1-2x.jpg 2x"
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/tablet/about-rest/rest-inter-1.jpg 1x, ./img/tablet/about-rest/rest-inter-1-2x.jpg 2x"
                    srcset="./img/desktop/restaurant-interior/restaurant-interior-desktop-1.jpg 1x, ./img/desktop/restaurant-interior/restaurant-interior-desktop-1-2x.jpg 2x"
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/tablet/about-rest/rest-inter-1.jpg 1x, ./img/tablet/about-rest/rest-inter-1-2x.jpg 2x"
                    media="(min-width: 1024px)">
                <source
                    srcset="./img/mobile/restaurant-interior/restaurant-interior_2.jpg 1x, ./img/mobile/restaurant_interior/restaurant-interior_2.jpg 2x"
                    media="(min-width: 384px)">


                <img class="about-first-images" src="../..//img/mobile/restaurant_interior/restaurant-interior_1.jpg"
                    alt="restaurant interior">
            </picture>
        </div>
        <div class="second-rest-about">
            <picture class="">
                <source
                    srcset=" ./img/desktop/about-rest/rest-inter-2.jpg 1x, ./img/desktop/about-rest/rest-inter-2-2x.jpg 2x"
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/tablet/about-rest/rest-inter-2.jpg 1x, ./img/tablet/about-rest/rest-inter-2-2x.jpg 2x"
                    srcset=" ./img/desktop/restaurant-interior/restaurant-interior-desktop-2.jpg 1x, ./img/desktop/restaurant-interior/restaurant-interior-desktop-2-2x.jpg 2x"
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/tablet/about-rest/rest-inter-2.jpg 1x, ./img/tablet/about-rest/rest-inter-2-2x.jpg 2x"
                    media="(min-width: 1024px)">
                <source
                    srcset="./img/mobile/restaurant-interior/restaurant-interior_2.jpg 1x, ./img/mobile/restaurant_interior/restaurant-interior_2.jpg 2x "
                    media="(max-width: 384px)">


                <img class="about-second-images" src="../../img/mobile/restaurant_interior/restaurant-interior_2.jpg"
                    alt="restaurant terrace">
            </picture>
            <p class="about-secondary-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
            amet.</p>
        </div>
        <!-- PLace for slider -->

        <div class="rest-about-slider">
            <div class="rest-about-slider-container">
                <button class="about-slider-arrow-left" type="button">
                    <svg width="30px" height="17px" class="rest-about-slider-left-svg">
                        <use href="../../img/icons.svg#icon-cil_arrow-left"></use>
                    </svg>
                </button>
                <button class="about-slider-arrow-right" type="button">

                    <button class="about-slider-arrow-right" type="button">

                        <button class="about-slider-arrow-right" type="button">

                            <svg width="30px" height="17px" class="rest-about-slider-right-svg">
                                <use href="../../img/icons.svg#icon-cil_arrow-right"></use>
                            </svg>
                        </button>

            </div>
        </div>
    </div>
</section>


</div> -->
</div>
</div>
</div>
</section>