
<section class="section-contacts">
  <h2 class="visually-hidden">Контакти</h2>
  <div class="section-contacts-block container">
    <div class="section-contacts-box">
      <h3 class="section-contacts-title">MIMIHO</h3>
      <p class="section-contacts-text">Ресторанно-готельний комплекс</p>
      <div class="contacts-lists">
        <ul class="contacts-list-name">
          <li class="contacts-list-item">
            <span class="contacts-name">Ресторан</span>
            <address class="contacts-phones">
              <svg class="contacts-item-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-fluent_phone-24-regular"></use>
              </svg>
              <a href="tel:+380955559533" class="contacts-phones-link">095 555 95 33</a>
            </address>
          </li>
          <li class="contacts-list-item">
            <span class="contacts-name">Готель</span>
            <div class="contacts-phones">
              <svg class="contacts-item-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-fluent_phone-24-regular"></use>
              </svg>
              <div class="contacts-mobile">
                <a href="tel:+380668491089" class="contacts-phones-link first-phone">066 849 10 89</a>
                <a href="tel:+3800672758540" class="contacts-phones-link">067 275 85 40</a>
              </div>
            </div>
          </li>
        </ul>
        <a  href="https://goo.gl/maps/nCRCqF7u8mZtbLEB7" 
            target="_blank"
            rel="noopener noreferrer nofollow" 
            class="address-link">
          <svg class="contacts-item-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-entypo_location-pin"></use>
          </svg>
          <span class="address-link-text"
            >Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15</span
          >
        </a>
      </div>
    </div>

    <div class="contacts-card">
      <iframe
        class="contacts-card-link"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21295.892589971743!2d34.532642721866445!3d49.59388748549747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e0!3m2!1suk!2sua!4v1676737995712!5m2!1suk!2sua"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</section>
