<div class="modal " data-modal="3">
  <h1 class="modal-title">ЦІНИ НА НОМЕР</h1>
  <p class="type-room">Двомісний люкс</p>
  <p class="category-room">Категорія номеру</p>

  <form autocomplete="on">
    <ul class="input-flex list">
      <li class="amount-input">
        <select id="number" name="number" required class="text-input">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3-5">3</option>
          <option value="5-8">4</option>
          <option value="8-15">5</option>
        </select>
        <div class="text-label arrow-label-select arrow-select">
          <label for="size" class="label-left">Кількість ночей</label>
        </div>
      </li>

      <li class="price-input">
        <input type="number" name="number" placeholder="1000" class="text-input" />
        <div class="text-label">
          <label for="name" class="label-left">грн</label>
        </div>
      </li>
    </ul>

    <!----------------------------- BUTTON ------------------------------->

    <div class="button-modal">
      <button type="submit" class="btn button-book">
        ЗАБРОНЮВАТИ НОМЕР
      </button>
    </div>
    <!-------------------------- BUTTON-CLOSE ---------------------------->

    <button type="button" class="modal-close" data-modal-close>
      <svg width="18" height="18" class="modal-close-cross modal__cross js-modal-close">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
  </form>
</div>
