
    <!------------------------------- TITLE ------------------------------>
    <div class="modal">
      <h1 class="modal-title">ЗАБРОНЮВАТИ СТОЛИК</h1>

      <!------------------------------ NAME --------------------------->
      <form autocomplete="on">
        <ul class="input-flex list">
          <li class="name-input">
            <input
              type="text"
              name="name"
              pattern="[A-Za-zА-Яа-яЁёІіЇїЄє]{2,}"
              required
              placeholder="Ваше ім’я"
              class="text-input"
            />
            <div class="text-label">
              <label for="name">На кого забронювати столик?</label>
            </div>
          </li>

          <!------------------------- AMOUNT ------------------------>

          <li class="amount-input">
            <select id="people" name="people" class="text-input">
              <option value="1">1</option>
              <option value="2" selected>2</option>
              <option value="3-5">3-5</option>
              <option value="5-8">5-8</option>
              <option value="8-15">8-15</option>
            </select>
            <div class="text-label">
              <label for="people">Столик на яку кількість осіб?</label>
            </div>
          </li>

          <!----------------------------- PHONE --------------------->

          <li class="phone-input">
            <input
              type="tel"
              name="phone"
              id="phone"
              required
              pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){12}(\s*)?"
              minlength="18"
              maxlength="18"
              placeholder="+38 (___) ___-__-__"
              class="text-input"
            />
            <div class="text-label">
              <label for="phone">Номер телефону</label>
            </div>
          </li>

          <!----------------------------- DATE -------------------->

          <li class="date-input">
            <select name="date" id="date" class="text-input">
              <option value="Сьогодні" selected>Сьогодні</option>
              <option value="Завтра">Завтра</option>
              <option value="Післязавтра">Післязавтра</option>
            </select>
            <div class="text-label">
              <label for="date">На яку дату бронювати?</label>
            </div>
          </li>
        </ul>

        <!----------------------------- BUTTON --------------------->

        <div class="button-modal">
          <button type="submit" class="button-book">ОФОРМИТИ БРОНЮВАННЯ</button>
        </div>

    <!-------------------------- BUTTON-CLOSE ---------------------------->

    <button type="button" class="modal-close" data-modal-close>
      <svg width="18" height="18" class="modal-close-cross">
        <use href="./images/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
  </form>
</div>
