<footer>
    <div class="footer-container container">
        <a href="#" class="footer-logo link">MIMIHO</a>
        <div class="footer-wrap">
            <ul class="footer-nav-list list">
                <li class="footer-nav-item">
                    <a href="../index.html" class="footer-nav-link link">Головна</a>
                </li>
                <li class="footer-nav-item">
                    <a href="../restaurant-page.html" class="footer-nav-link link">Ресторан</a>
                </li>
                <li class="footer-nav-item">
                    <a href="../hotel-page.html" class="footer-nav-link link">Готель</a>
                </li>
                <li class="footer-nav-item">
                    <a href="../room-page.html" class="footer-nav-link link">Кімната</a>
                </li>
            </ul>
            <ul class="footer-soc-list list">
                <li class="footer-soc-item">
                    <a href="#footer" class="footer-soc-link link">
                        <span class="footer-soc-title">Telegram</span>
                        <svg class="footer-soc-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-la_telegram-plane"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-soc-item">
                    <a href="#footer" class="footer-soc-link link">
                        <span class="footer-soc-title">Facebook</span>
                        <svg class="footer-soc-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-jam_facebook-square"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-soc-item">
                    <a href="#footer" class="footer-soc-link link">
                        <span class="footer-soc-title">Instagram</span>
                        <svg class="footer-soc-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-akar-icons_instagram-fill"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
