<footer class="footer-section">
    <div class="footer container">
        <div class="logo-container">
            <a href="" class="link logo footer-logo">mimiho</a>
        </div>
        <div class="nav-social-container">
            <div class="footer-nav">
                <ul class="footer-nav__list list">
                    <li class="footer-nav__item">
                        <a class="footer-nav__link link" href="">Головна</a>
                    </li>
                    <li class=" footer-nav__item">
                        <a class="footer-nav__link link" href="">Ресторан</a>
                    </li>
                    <li class="footer-nav__item">
                        <a class="footer-nav__link link" href="">Готель</a>
                    </li>
                </ul>
            </div>
            <div class="social-icons">
                <ul class="social-icons__list list">
                    <li class="social-icons__item">
                        <a rel="noreferrer noopener nofollow" class="social-icons__link link" href="http://" target="_blank">
                            <span class="social-icons-text">Telegram</span>
                            <svg class="social-icons__icon" width="24" height="24">
                                <use href="/src/img/icons.svg#icon-la_telegram-plane"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-icons__item">
                        <a rel="noreferrer noopener nofollow" class="social-icons__link link" href="http://" target="_blank">
                            <span class="social-icons-text">Facebook</span>
                            <svg class="social-icons__icon" width="24" height="24">
                                <use href="./icons.svg#icon-jam_facebook-square"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-icons__item">
                        <a rel="noreferrer noopener nofollow" class="social-icons__link link" href="http://" target="_blank">
                            <span class="social-icons-text">Instagram</span>
                            <svg class="social-icons__icon" width="24" height="24">
                                <use href="/src/img/icons.svg#icon-akar-icons_instagram-fill"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>