body{
    font-family: 'Montserrat', sans-serif;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
  
.link {
    text-decoration: none;
}
  
.container {
    
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}