.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
  
.link {
    text-decoration: none;
}
  
.container {
    min-width: 320px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
  
@media screen and (min-width: 414px) {
.container {
    max-width: 414px;
}
}
  
@media screen and (min-width: 1024px) {
.container {
    max-width: 1024px;
    padding: 0 47px;
}
}
  
@media screen and (min-width: 1280px) {
.container {
    max-width: 1280px;
    padding: 0 85px;
}
}
  
.logo {
    /* font-family: "FilmP3", "sans-serif"; */
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1.08;
    font-weight: 700;
    letter-spacing: 0.3em;
}
  
@media screen and (min-width: 1024px) {
.logo {
    font-size: 64px;
}
}
  
.footer-section {
    background-color: #0E0C07;
    padding-top: 40px;
    padding-bottom: 40px;
}
  
@media screen and (min-width: 1024px) {
.footer-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
}
  
.footer {
    display: flex;
    align-items: center;
}
  
@media screen and (max-width: 414px) {
.footer {
    justify-content: space-around;
}
}
  
@media screen and (min-width: 414px) {
.logo-container {
    margin-left: 44px;
    margin-right: 85px;
}
}
  
@media screen and (min-width: 1024px) {
.logo-container {
    margin-left: 107px;
    margin-right: 163px;
}
}
  
@media screen and (min-width: 1280px) {
.logo-container {
    margin-left: 131px;
    margin-right: 231px;
}
}
  
.footer-logo {
    display: block;
    text-align: center;
    color: #f3c653;
    font-size: 40px;
    line-height: 1.075;
    font-weight: 700;
    letter-spacing: 0.3em;
}
  
@media screen and (min-width: 1024px) {
.footer-logo {
    font-size: 64px;
}
}
  
@media screen and (min-width: 1024px) {
.nav-social-container {
    display: flex;
}
}
  
@media screen and (max-width: 1024px) {
.footer-nav {
    margin-bottom: 33px;
}
}
  
@media screen and (min-width: 1024px) {
.footer-nav {
    margin-right: 138px;
}
}
  
@media screen and (min-width: 1280px) {
.footer-nav {
    margin-right: 200px;
}
}
  
.footer-nav__item:not(:last-child) {
    margin-bottom: 16px;
}
  
.footer-nav__link {
    color: #f3c653;
    /* font-family: "Montserrat", "sans-serif"; */
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}
  
@media screen and (max-width: 1024px) {
.social-icons__list {
    display: flex;
    gap: 23px;
}
}
  
@media screen and (min-width: 1024px) {
.social-icons__list {
    display: block;
}
}
  
@media screen and (min-width: 1024px) {
.social-icons__item:not(:last-child) {
    margin-bottom: 12px;
}
}
  
@media screen and (min-width: 1024px) {
.social-icons__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 144px;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    border: 0.5px solid #f3c653;
    border-radius: 2px;
}
}
  
.social-icons-text {
    display: none;
    color: #f3c653;
    /* font-family: "Montserrat"; */
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.02em;
}
  
@media screen and (min-width: 1024px) {
.social-icons-text {
    display: inline;
}
}
  
.social-icons__icon {
    display: flex;
    fill: #f3c653;
}
  