/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
<<<<<<< Updated upstream
	box-sizing: border-box;
=======
    box-sizing: border-box;
>>>>>>> Stashed changes
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/

html {
<<<<<<< Updated upstream
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-moz-tab-size: 4; /* 3 */
	tab-size: 4; /* 3 */
=======
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    tab-size: 4;
    /* 3 */
>>>>>>> Stashed changes
}

/*
Sections
========
*/

/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
<<<<<<< Updated upstream
	margin: 0; /* 1 */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 2 */
=======
    margin: 0;
    /* 1 */
    font-family:
        system-ui,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    /* 2 */
>>>>>>> Stashed changes
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
<<<<<<< Updated upstream
	height: 0; /* 1 */
	color: inherit; /* 2 */
=======
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
>>>>>>> Stashed changes
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
<<<<<<< Updated upstream
	text-decoration: underline dotted;
=======
    text-decoration: underline dotted;
>>>>>>> Stashed changes
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
<<<<<<< Updated upstream
	font-weight: bolder;
=======
    font-weight: bolder;
>>>>>>> Stashed changes
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
<<<<<<< Updated upstream
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
=======
    font-family:
        ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
>>>>>>> Stashed changes
}

/**
Add the correct font size in all browsers.
*/

small {
<<<<<<< Updated upstream
	font-size: 80%;
=======
    font-size: 80%;
>>>>>>> Stashed changes
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
<<<<<<< Updated upstream
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
=======
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
>>>>>>> Stashed changes
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
<<<<<<< Updated upstream
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
=======
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
>>>>>>> Stashed changes
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
<<<<<<< Updated upstream
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
=======
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
>>>>>>> Stashed changes
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
<<<<<<< Updated upstream
	text-transform: none;
=======
    text-transform: none;
>>>>>>> Stashed changes
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
<<<<<<< Updated upstream
	-webkit-appearance: button;
=======
    -webkit-appearance: button;
>>>>>>> Stashed changes
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
<<<<<<< Updated upstream
	border-style: none;
	padding: 0;
=======
    border-style: none;
    padding: 0;
>>>>>>> Stashed changes
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
<<<<<<< Updated upstream
	outline: 1px dotted ButtonText;
=======
    outline: 1px dotted ButtonText;
>>>>>>> Stashed changes
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
<<<<<<< Updated upstream
	box-shadow: none;
=======
    box-shadow: none;
>>>>>>> Stashed changes
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
<<<<<<< Updated upstream
	padding: 0;
=======
    padding: 0;
>>>>>>> Stashed changes
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
<<<<<<< Updated upstream
	vertical-align: baseline;
=======
    vertical-align: baseline;
>>>>>>> Stashed changes
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
<<<<<<< Updated upstream
	height: auto;
=======
    height: auto;
>>>>>>> Stashed changes
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
<<<<<<< Updated upstream
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
=======
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
>>>>>>> Stashed changes
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
<<<<<<< Updated upstream
	-webkit-appearance: none;
=======
    -webkit-appearance: none;
>>>>>>> Stashed changes
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
<<<<<<< Updated upstream
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
=======
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
>>>>>>> Stashed changes
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
<<<<<<< Updated upstream
	display: list-item;
=======
    display: list-item;
>>>>>>> Stashed changes
}