

/* ----------AMENITIES ROOM------------ */
.title {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  color: var(--color-title-black);
}

.subtitle {
  margin-bottom: 16px;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--color-title-black);
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color:var(--color-text-gray);
}

.amenities-room-section {
  width: 100%;
  background-color: var(--colors-bg-section-fon-lemon);
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.amenities-room-title {
  margin-bottom: 16px;
}

.room-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.amenities-title-text {
  margin-bottom: 32px;
}
.amenities-room-item {
  margin-bottom: 32px;
}

.amenities-btn-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.booking-room-btn {
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid var(--colors-text-btn-default);
  padding: 20px 42px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--colors-border-btn-default);
  background-color: var(--colors-bg-btn-modal-default);

  transition: color var(--transition-function),
    background-color var(--transition-function);
}



.booking-room-btn:hover,
.booking-room-btn:focus {
  color: var(--colors-bg-btn-modal-default);
  background-color: var(--colors-text-btn-active);
}

.amenities-room-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-contacts-section-text-brown);
  text-decoration: none;

  transition: color var(--transition-function);
}

.amenities-room-link:hover,
.amenities-room-link:focus {
  color: var(--colors-text-btn-active);
}

.back-icon {
  display: block;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  fill: currentColor;

  transition: fill var(--transition-function);
}

.amenities-room-link:hover .back-icon:hover,
.amenities-room-link:focus .back-icon:focus {
  fill: var(--color-svg-fill-yellow);
}

@media screen and (min-width: 320px) and (max-width: 413.99px) {
  .booking-room-btn {
    padding: 20px 20px;
    font-size: 16px;
  }
  .amenities-room-link {
    font-size: 12px;
  }
}
/* ----------MOBILE------------ */

@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}

/* ----------TABLET------------ */

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .amenities-room-section {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .room-text-wrapper {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .amenities-title-text {
    width: 757px;
  }

  .amenities-room-text {
    width: 400px;
  }

  .amenities-btn-link-wrapper {
    gap: 32px;
    justify-content: end;
    align-items: end;
  }

  .booking-room-btn {
    padding: 18px 38px;

    font-size: 24px;
  }

  .amenities-room-link {
    gap: 16px;

    font-size: 20px;
    line-height: 1.2;
  }
}

/* ----------DESCTOP------------ */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }

  .amenities-room-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .amenities-room-thumb {
    width: 1011px;
  }

  .room-text-wrapper {
    gap: 159px;
  }
}
@import url('./modal/modal-reserve-a-table.css'); 
@import url('./modal/modal-reserve-a-room.css');
@import url('./modal/modal-prices-per-room.css');
