<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../slick/slick-theme.css" />
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/modern-normalize.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/root.css">
    <link rel="stylesheet" href="../../css/hotel-page/hotel-page-1-room-luxe-for-2-adult.css">
    <title>Document</title>
</head>
<body>
    <section class="room-luxe">
        <div class="container">
            <div class="room-luxe-wrapper">
                <div class="room-luxe-text-area">
                    <p class="room-luxe-pre-title">
                        Amet minim mollit non
                    </p>
                    <h3 class="room-luxe-secondary-title">
                        Mimino
                    </h3>
                    <h2 class="room-luxe-title">
                        ДВОМІСНИЙ НОМЕР люкс
                    </h2>
                    <p class="room-luxe-paragraph">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
                        velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
                <div class="room-luxe-image-area">
                    <picture>
                        <source srcset="
                                            ../../img/desktop/hotel-page-img-desk/hotel-img-desk-1x.jpg    1x,
                                            ../../img/desktop/hotel-page-img-desk/hotel-img-desk-2x.jpg 2x
                                          " media="(min-width: 1280px)" />
                        <source srcset="
                                            ../../img/tablet/hotel-page-img-tab/hotel-img-tab-1x.jpg     1x,
                                            ../../img/tablet/hotel-page-img-tab/hotel-img-tab-2x.jpg 2x
                                          " media="(min-width: 1024px)" />
                        <source srcset="
                                            ../../img/mobile/hotel-page-img-mob/hotel-img-mob-1x.jpg    1x,
                                            ../../img/mobile/hotel-page-img-mob/hotel-img-mob-2x.jpg 2x
                                          " media="(min-width: 320px)" />
                        <img src="../../img/desktop/hotel-page-img-desk/hotel-img-desk-1x.jpg" alt="Room" />
                    </picture>
                </div>
            </div>
            <div class="room-luxe-wrapper">
                <div class="slider-area">
                    <div class="slider">
                        <div>
                            <picture>
                                <source srcset="
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-1-desk-1x.jpg    1x,
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-1-desk-2x.jpg 2x
                                                                      " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-1-tab-1x.jpg    1x,
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-1-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-1-tab-1x.jpg    1x,
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-1-tab-2x.jpg 2x
                                                                      " media="(min-width: 320px)" />
                                <img src="../../img/desktop/hotel-page-img-desk/hotel-slide-1-desk-1x.jpg" alt="Meditaion App" />
                            </picture>
                        </div>
                        <div>
                            <picture>
                                <source srcset="
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-2-desk-1x.jpg    1x,
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-2-desk-2x.jpg 2x
                                                                      " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-2-tab-1x.jpg    1x,
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-2-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-2-tab-1x.jpg    1x,
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-2-tab-2x.jpg 2x
                                                                      " media="(min-width: 320px)" />
                                <img src="../../img/desktop/hotel-page-img-desk/hotel-slide-2-desk-1x.jpg" alt="Meditaion App" />
                            </picture>
                        </div>
                        <div>
                            <picture>
                                <source srcset="
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-3-desk-1x.jpg    1x,
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-3-desk-2x.jpg 2x
                                                                      " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-3-tab-1x.jpg   1x,
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-3-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-3-tab-1x.jpg     1x,
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-3-tab-2x.jpg  2x
                                                                      " media="(min-width: 320px)" />
                                <img src="../../img/desktop/hotel-page-img-desk/hotel-slide-3-desk-1x.jpg" alt="Meditaion App" />
                            </picture>
                         </div>
                        <div>
                            <picture>
                                <source srcset="
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-4-desk-1x.jpg    1x,
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-4-desk-2x.jpg 2x
                                                                      " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-4-tab-1x.jpg   1x,
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-4-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-4-tab-1x.jpg    1x,
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-4-tab-2x.jpg 2x
                                                                      " media="(min-width: 320px)" />
                                <img src="../../img/desktop/hotel-page-img-desk/hotel-slide-4-desk-1x.jpg" alt="Meditaion App" />
                            </picture>
                        </div>
                        <div>
                            <picture>
                                <source srcset="
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-5-desk-1x.jpg    1x,
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-5-desk-2x.jpg 2x
                                                                      " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-5-tab-1x.jpg    1x,
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-5-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-5-tab-1x.jpg    1x,
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-5-tab-2x.jpg 2x
                                                                      " media="(min-width: 320px)" />
                                <img src="../../img/desktop/hotel-page-img-desk/hotel-slide-5-desk-1x.jpg" alt="Meditaion App" />
                            </picture>
                        </div>
                        <div>
                            <picture>
                                <source srcset="
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-6-desk-1x.jpg    1x,
                                                                        ../../img/desktop/hotel-page-img-desk/hotel-slide-6-desk-2x.jpg 2x
                                                                      " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-6-tab-1x.jpg    1x,
                                                                        ../../img/tablet/hotel-page-img-tab/hotel-slide-6-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-6-tab-1x.jpg   1x,
                                                                        ../../img/mobile/hotel-page-img-mob/hotel-slide-6-tab-2x.jpg 2x
                                                                      " media="(min-width: 320px)" />
                                <img src="../../img/desktop/hotel-page-img-desk/hotel-slide-6-desk-1x.jpg" alt="Meditaion App" />
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="room-luxe-btns-area">
                    <a class="room-luxe-btn-link" href="../../../src/room-page.html">Детальніше</a>
                    <button class="room-luxe-btn" type="button">Переглянути ціни</button>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../../slick/slick.min.js"></script>
    <script src="../../slider.js"></script>
</body>
</html>