
    <section class="room-three">
        <div class="container">
            <div class="room-three-wrapper">
                <div class="room-three-text-area">
                    <p class="room-three-pre-title">
                        Amet minim mollit non
                    </p>
                    <h3 class="room-three-secondary-title"> MIMIHO </h3>
                    <h2 class="room-three-title"> ТРЬОХМІСНИЙ НОМЕР </h2>
                    <p class="room-three-paragraph">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat
                        duis enim
                        velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
                <div class="room-three-image-area">
                    <picture>
                        <source srcset="
                                            ./img/desktop/hotel-page-img-desk/hotel-img-desk-1x.jpg    1x,
                                            ./img/desktop/hotel-page-img-desk/hotel-img-desk-2x.jpg 2x
                                          " media="(min-width: 1280px)" />
                        <source srcset="
                                            ./img/tablet/hotel-page-img-tab/hotel-img-tab-1x.jpg     1x,
                                            ./img/tablet/hotel-page-img-tab/hotel-img-tab-2x.jpg 2x
                                          " media="(min-width: 1024px)" />
                        <source srcset="
                                            ./img/mobile/hotel-page-img-mob/hotel-img-mob-1x.jpg    1x,
                                            ./img/mobile/hotel-page-img-mob/hotel-img-mob-2x.jpg 2x
                                          " media="(min-width: 320px)" />
                        <img src="./img/desktop/hotel-page-img-desk/hotel-img-desk-1x.jpg" alt="Room" />
                    </picture>
                </div>
            </div>
            <div class="room-three-wrapper">
                <div class="slider-area">
                    <div class="slider">
                        <div>
                            <picture>
                                <source srcset="
                                                            ./img/desktop/hotel-page-img-desk/hotel-slide-1-desk-1x.jpg    1x,
                                                                        ./img/desktop/hotel-page-img-desk/hotel-slide-1-desk-2x.jpg 2x
                                                                      " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-1-tab-1x.jpg    1x,
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-1-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-1-tab-1x.jpg    1x,
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-1-tab-2x.jpg 2x
                                                                      " media="(min-width: 320px)" />
                                <img src="./img/desktop/hotel-page-img-desk/hotel-slide-1-desk-1x.jpg"
                                    alt="Meditaion App" />
                            </picture>
                        </div>
                        <div>
                            <picture>
                                <source srcset="
                                                                        ./img/desktop/hotel-page-img-desk/hotel-slide-2-desk-1x.jpg    1x,
                                                                        ./img/desktop/hotel-page-img-desk/hotel-slide-2-desk-2x.jpg 2x
                                                                      " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-2-tab-1x.jpg    1x,
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-2-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-2-tab-1x.jpg    1x,
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-2-tab-2x.jpg 2x
                                                                      " media="(min-width: 320px)" />
                                <img src="./img/desktop/hotel-page-img-desk/hotel-slide-2-desk-1x.jpg"
                                    alt="Meditaion App" />
                            </picture>
                        </div>
                        <div>
                            <picture>
                                <source srcset="
                                                                        ./img/desktop/hotel-page-img-desk/hotel-slide-3-desk-1x.jpg    1x,
                                                                        ./img/desktop/hotel-page-img-desk/hotel-slide-3-desk-2x.jpg 2x
                                                                      " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-3-tab-1x.jpg   1x,
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-3-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-3-tab-1x.jpg     1x,
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-3-tab-2x.jpg  2x
                                                                      " media="(min-width: 320px)" />
                                <img src="./img/desktop/hotel-page-img-desk/hotel-slide-3-desk-1x.jpg"
                                    alt="Meditaion App" />
                            </picture>
                        </div>
                        <div>
                            <picture>
                                <source srcset="
                                                                        ./img/desktop/hotel-page-img-desk/hotel-slide-4-desk-1x.jpg    1x,
                                                                        ./img/desktop/hotel-page-img-desk/hotel-slide-4-desk-2x.jpg 2x
                                                       " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-4-tab-1x.jpg   1x,
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-4-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-4-tab-1x.jpg    1x,
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-4-tab-2x.jpg 2x
                                                                      " media="(min-width: 320px)" />
                                <img src="./img/desktop/hotel-page-img-desk/hotel-slide-4-desk-1x.jpg"
                                    alt="Meditaion App" />
                            </picture>
                        </div>
                        <div>
                            <picture>
                                <source srcset="
                                                                        ./img/desktop/hotel-page-img-desk/hotel-slide-5-desk-1x.jpg    1x,
                                                                        ./img/desktop/hotel-page-img-desk/hotel-slide-5-desk-2x.jpg 2x
                                                                      " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-5-tab-1x.jpg    1x,
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-5-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-5-tab-1x.jpg    1x,
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-5-tab-2x.jpg 2x
                                                                      " media="(min-width: 320px)" />
                                <img src="./img/desktop/hotel-page-img-desk/hotel-slide-5-desk-1x.jpg"
                                    alt="Meditaion App" />
                            </picture>
                        </div>
                        <div>
                            <picture>
                                <source srcset="
                                                                        ./img/desktop/hotel-page-img-desk/hotel-slide-6-desk-1x.jpg    1x,
                                                                        ./img/desktop/hotel-page-img-desk/hotel-slide-6-desk-2x.jpg 2x
                                                                      " media="(min-width: 1280px)" />
                                <source srcset="
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-6-tab-1x.jpg    1x,
                                                                        ./img/tablet/hotel-page-img-tab/hotel-slide-6-tab-2x.jpg 2x
                                                                      " media="(min-width: 1024px)" />
                                <source srcset="
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-6-tab-1x.jpg   1x,
                                                                        ./img/mobile/hotel-page-img-mob/hotel-slide-6-tab-2x.jpg 2x
                                                                      " media="(min-width: 320px)" />
                                <img src="./img/desktop/hotel-page-img-desk/hotel-slide-6-desk-1x.jpg"
                                    alt="Meditaion App" />
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="room-three-btns-area">
                    <a class="room-three-btn-link" href="./room-page2.html">Детальніше</a>
                    <button class="room-three-btn js-open-modal" data-modal="3" type="button">Переглянути ціни</button>
                </div>
            </div>
        </div>
    </section>
