<div class="hero-hotel-background">
    <header class="header" id="home">
        <div class="hh-container">
            <div class="header-top">
                <a class="logo" href="./index.html">MIMIHO</a>
                <div class="box">
                    <nav class="navigation-first">
                        <a href="./restaurant-page.html" class="menu-link link">Ресторан</a>
                    </nav>

                    <div class="menu-first">
                        <a class="menu-contact link" href="tel:+380955559533">
                            <svg class="icon" width="24" height="24">
                                <use href="./img/icons.svg#icon-fluent_phone-24-regular"></use>
                            </svg>
                            <p class="phone">095 555 95 33</p>
                        </a>
                    </div>

                    <nav class="navigation-second">
                        <a href="#" class="menu-link active link">Готель</a>
                    </nav>

                    <div class="menu-second">
                        <a class="menu-contact link" href="tel:+380668491089">
                            <svg class="icon" width="24" height="24">
                                <use href="./img/icons.svg#icon-fluent_phone-24-regular"></use>
                            </svg>
                            <p class="phone">066 849 10 89</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="hh-container">
            <h1 class="title">MIMIHO</h1>
            <h2 class="sub-title">Готель</h2>
            <p class="pre-title">СМАК ЖИТТЯ 24/7</p>

            <div class="hero-elements">
                <a class="map-location" href="https://goo.gl/maps/nCRCqF7u8mZtbLEB7"     
                    target="_blank"
                    rel="noopener noreferrer nofollow">
                    <svg class="location-icon">
                        <use href="./img/icons.svg#icon-entypo_location-pin"></use>
                    </svg>
                    Україна, м. Полтава, <br>
                    вул. Маршала Бірюзова, 15
                </a>

                <button type="button" class="btn btn-shorter js-open-modal" data-modal="2">

                    Забронювати номер
                </button>
                <button type="button" class="btn btn-shorter js-open-modal" data-modal="3">
                    Переглянути ціни
                </button>
            </div>

            <ul class="soc-media list">
                <li class="list-items">
                    <a href="https://www.instagram.com/" class="link"        
                        aria-label="Instagram" target="_blank"
                        rel="noopener noreferrer nofollow">
                        <svg class="soc-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-akar-icons_instagram-fill"></use>
                        </svg>
                    </a>
                </li>
                <li class="list-items">
                    <a href="https://www.facebook.com/" class="link" 
                        aria-label="Facebook" target="_blank"
                        rel="noopener noreferrer nofollow">
                        <svg class="soc-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-jam_facebook-square"></use>
                        </svg>
                    </a>
                </li>
                <li class="list-items">
                    <a href="https://web.telegram.org/z/" class="link" 
                        aria-label="Telegram" target="_blank"
                        rel="noopener noreferrer nofollow">
                        <svg class="soc-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-la_telegram-plane"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>
