body,
p,
h2,
h3 {
  margin: 0;
}

.room-luxe,
.room-two {
  padding: 32px 0;
  background: var(--colors-bg-section-fon-lemon);
}

.room-three {
  padding: 32px 0;
  background: #f0ecd6;
}

.room-luxe-pre-title,
.room-two-pre-title,
.room-three-pre-title {
  font-family: 'Times New Roman';
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;
  margin-bottom: 8px;
}

.room-luxe-secondary-title,
.room-two-secondary-title,
.room-three-secondary-title {
  font-family: 'Film P3';
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #494848;
  margin-bottom: 32px;
}

.room-luxe-title,
.room-two-title,
.room-three-title {
  font-family: 'Times New Roman';
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 12px;
}

.room-luxe-paragraph,
.room-two-paragraph,
.room-three-paragraph {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
  width: 258px;
}

.room-luxe-wrapper:last-child,
.room-two-wrapper:last-child,
.room-three-wrapper:last-child {
  overflow: hidden;
}

.room-luxe-image-area,
.room-two-image-area,
.room-three-image-area {
  margin: 32px 0;
  display: flex;
  justify-content: right;
}

.room-luxe-image-area img,
.room-two-image-area img,
.room-three-image-area img {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

.room-luxe img,
.room-two img,
.room-three img {
  border-radius: 2px;
}

.room-three-image-area {
  justify-content: left;
}

.slider-area {
  width: 427px;
}

.room-luxe .slick-prev,
.room-two .slick-prev,
.room-three .slick-prev,
.room-luxe .slick-next,
.room-two .slick-next,
.room-three .slick-next {
  position: absolute;
  top: 230px;
  width: 32px;
  height: 32px;
}

.room-luxe .slick-prev,
.room-two .slick-prev,
.room-three .slick-prev {
  left: 120px;
  background: url(../../img/svg-bg/cil_arrow-left.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.room-luxe .slick-next,
.room-two .slick-next,
.room-three .slick-next {
  right: 205px;
  background: url(../../img/svg-bg/cil_arrow-right.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.room-three .slick-prev {
  left: 167px;
}

.room-three .slick-next {
  right: 162px;
}

.room-luxe .slick-prev::before,
.room-two .slick-prev::before,
.room-three .slick-prev::before,
.room-luxe .slick-next::before,
.room-two .slick-next::before,
.room-three .slick-next::before {
  content: '';
}

.room-luxe .slick-prev:hover,
.room-two .slick-prev:hover,
.room-three .slick-prev:hover,
.room-luxe .slick-prev:focus,
.room-two .slick-prev:focus,
.room-three .slick-prev:focus {
  background: url(../../img/svg-bg/cil_arrow-left-hover.svg);
}

.room-luxe .slick-next:hover,
.room-two .slick-next:hover,
.room-three .slick-next:hover,
.room-luxe .slick-next:focus,
.room-two .slick-next:focus,
.room-three .slick-next:focus {
  background: url(../../img/svg-bg/cil_arrow-right-hover.svg);
}

.room-luxe-btn-link,
.room-two-btn-link,
.room-three-btn-link {
  width: 240px;
  height: 48px;
}

.room-luxe-btn-link,
.room-luxe-btn,
.room-two-btn-link,
.room-two-btn,
.room-three-btn-link,
.room-three-btn {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--colors-text-btn-default);
  background: var(--colors-bg-btn-modal-default);
  border: 2px solid #fffdee;
  border-radius: 25px;
}

.slider-area {
  margin-bottom: 72px;
}

.room-luxe-btns-area,
.room-two-btns-area,
.room-three-btns-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.room-luxe-btn-link,
.room-two-btn-link,
.room-three-btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.room-luxe-btn,
.room-two-btn,
.room-three-btn {
  padding: 14px 37px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.room-luxe-btn-link:hover,
.room-two-btn-link:hover,
.room-three-btn-link:hover,
.room-luxe-btn:hover,
.room-two-btn:hover,
.room-three-btn:hover,
.room-luxe-btn-link:focus,
.room-two-btn-link:focus,
.room-three-btn-link:focus,
.room-luxe-btn:focus,
.room-two-btn:focus,
.room-three-btn:focus {
  background: var(--colors-bg-btn-modal-active);
  border: 2px solid #f3c653;
  border-radius: 25px;
}

@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}

@media screen and (min-width: 414px) and (max-width: 1023.98px) {
  .room-three-paragraph {
    margin-left: 83px;
  }

  .room-three-wrapper .slider-area {
    margin-left: 120px;
  }
}

@media screen and (max-width: 1023.98px) {
  .room-luxe-wrapper .slider-area,
  .room-two-wrapper .slider-area {
    margin-left: -120px;
  }

  .room-three-pre-title,
  .room-three-title,
  .room-three-secondary-title {
    text-align: right;
  }
}

@media screen and (max-width: 413.98px) {
  .room-three-paragraph {
    margin-left: 12%;
  }
}

@media screen and (max-width: 414.98px) {
  .room-luxe-wrapper:last-child,
  .room-two-wrapper:last-child {
    margin-left: -15px;
  }

  .room-three-wrapper:last-child {
    margin-right: -15px;
  }

  .room-luxe-wrapper .slider-area,
  .room-two-wrapper .slider-area {
    margin-right: 0;
  }

  .room-three-wrapper .slider-area {
    margin-left: calc(120 * ((100vw - 320px) / (414 - 320)));
  }

  .room-luxe .slick-prev,
  .room-two .slick-prev {
    left: 135px;
  }

  .room-luxe .slick-next,
  .room-two .slick-next {
    right: 175px;
  }

  .room-three .slick-prev {
    left: calc(173px + (152 - 173) * ((100vw - 320px) / (414 - 320)));
  }

  .room-three .slick-next {
    right: calc(140px + (162 - 140) * ((100vw - 320px) / (414 - 320)));
  }
}

/* ===============TABLET=============== */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .room-luxe,
  .room-two,
  .room-three {
    padding: 62px 0 63px 0;
  }
  .room-luxe-wrapper,
  .room-two-wrapper,
  .room-three-wrapper {
    display: flex;
    gap: 45px;
  }

  .room-three-wrapper {
    flex-direction: row-reverse;
  }

  .room-luxe-wrapper:last-child,
  .room-two-wrapper:last-child,
  .room-three-wrapper:last-child {
    gap: 0;
    justify-content: space-between;
  }
  .room-luxe-pre-title,
  .room-two-pre-title,
  .room-three-pre-title {
    margin-bottom: 4px;
    font-size: 32px;
    line-height: 1.16;
  }

  .room-three-pre-title,
  .room-three-secondary-title {
    text-align: right;
  }

  .room-luxe-secondary-title,
  .room-two-secondary-title,
  .room-three-secondary-title {
    margin-bottom: 62px;
    font-size: 64px;
    line-height: 1.08;
  }

  .room-luxe-title,
  .room-two-title,
  .room-three-title {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
  }

  .room-luxe-paragraph,
  .room-two-paragraph,
  .room-three-paragraph {
    font-size: 16px;
    line-height: 1.25;
    width: 439px;
  }

  .room-luxe-image-area,
  .room-two-image-area,
  .room-three-image-area {
    margin-top: -94px;
  }

  .room-luxe .slick-prev,
  .room-two .slick-prev,
  .room-three .slick-prev,
  .room-luxe .slick-next,
  .room-two .slick-next,
  .room-three .slick-next {
    top: 242px;
  }

  .room-luxe .slick-prev,
  .room-two .slick-prev,
  .room-three .slick-prev {
    left: 330px;
    background: url(../../img/svg-bg/cil_arrow-left.svg);
  }

  .room-luxe .slick-next,
  .room-two .slick-next,
  .room-three .slick-next {
    right: 10px;
    background: url(../../img/svg-bg/cil_arrow-right.svg);
  }

  .room-three .slick-prev {
    left: 0;
  }

  .room-three .slick-next {
    left: 64px;
  }

  .room-luxe-btns-area,
  .room-two-btns-area,
  .room-three-btns-area {
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    margin-top: 41px;
  }
}

/* ===============DESKTOP=============== */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }

  .room-luxe,
  .room-two,
  .room-three {
    padding: 72px 0 41px 0;
  }
  .room-luxe-wrapper,
  .room-two-wrapper,
  .room-three-wrapper {
    display: flex;
    gap: 48px;
  }

  .room-luxe-wrapper:last-child,
  .room-two-wrapper:last-child,
  .room-three-wrapper:last-child {
    gap: 0;
    justify-content: space-between;
  }
  .room-luxe-pre-title,
  .room-two-pre-title,
  .room-three-pre-title {
    margin-bottom: 4px;
    font-size: 32px;
    line-height: 1.16;
  }

  .room-luxe-secondary-title,
  .room-two-secondary-title,
  .room-three-secondary-title {
    margin-bottom: 72px;
    font-size: 64px;
    line-height: 1.08;
  }

  .room-luxe-title,
  .room-two-title,
  .room-three-title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1.138;
  }

  .room-luxe-paragraph,
  .room-two-paragraph,
  .room-three-paragraph {
    font-size: 16px;
    line-height: 1.25;
    width: 400px;
  }

  .room-luxe-image-area,
  .room-two-image-area,
  .room-three-image-area {
    margin-top: -105px;
  }

  .slider-area {
    width: 548px;
  }

  .room-luxe .slick-prev,
  .room-two .slick-prev,
  .room-three .slick-prev,
  .room-luxe .slick-next,
  .room-two .slick-next,
  .room-three .slick-next {
    top: 278px;
  }

  .room-luxe .slick-prev,
  .room-two .slick-prev,
  .room-three .slick-prev {
    left: 436px;
    background: url(../../img/svg-bg/cil_arrow-left.svg);
  }

  .room-luxe .slick-next,
  .room-two .slick-next,
  .room-three .slick-next {
    right: 19px;
    background: url(../../img/svg-bg/cil_arrow-right.svg);
  }

  .room-luxe-btns-area,
  .room-two-btns-area,
  .room-three-btns-area {
    margin-top: 71px;
  }

  .room-three .slick-prev {
    left: 0;
  }

  .room-three .slick-next {
    left: 64px;
  }
}

/* ===============SLICK=============== */

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: '';
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*# sourceMappingURL=slick.css.map */

/* Slider */
.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'),
    url('./fonts/slick.woff') format('woff'),
    url('./fonts/slick.ttf') format('truetype'),
    url('./fonts/slick.svg#slick') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '•';
  width: 20px;
  height: 20px;
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/*# sourceMappingURL=slick-theme.css.map */
