<section class="section-about-kitchen">
    <div class="container">
        <div class="about-kitchen">
            <div class="text">
                <p class="text-kitchen">Amet minim mollit non</p>
                <h2 class="title-about-kitchen">MIMIHO</h2>
                <p class="text-about-kitchen">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                    amet.</p>
            </div>
            <div class="photo-kitchen">
                <picture class="">
                    <source
                        srcset="./img/desktop/about-kitchen-desktop/kitchen-desktop-1.jpg 1x, ./img/desktop/about-kitchen-desktop/kitchen-desktop-1-2x.jpg 2x"
                        sizes="460px" media="(min-width:1280px)">
                    <source
                        srcset="./img/tablet/about-kitchen-mobile/kitchen-tablet-1.jpg 1x, about-kitchen-mobile/kitchen-tablet-1-2x.jpg 2x"
                        sizes="400px" media="(min-width:1024px)">
                    <img class="photo-kitchen"
                        srcset="./img/mobile/about-kitchen-mobile/kitchen-1.jpg 1x, ./img/mobile/about-kitchen-mobile/kitchen-1-2x.jpg 2x"
                        src="../../img/mobile/about-kitchen-mobile/kitchen-1.jpg" alt="kitchen" sizes="244px">
                </picture>

            </div>
        </div>

        <ul class="img-about-kitchen">
            <li class="photo-second-kitchen">
                <picture class="photo">
                    <source
                        srcset="./img/desktop/about-kitchen-desktop/kitchen-desktop-2.jpg 1x, ./img/desktop/about-kitchen-desktop/kitchen-desktop-2-2x.jpg 2x"
                        sizes="460px" media="(min-width:1280px)">
                    <source
                        srcset="./img/tablet/about-kitchen-mobile/kitchen-tablet-2.jpg 1x, about-kitchen-mobile/kitchen-tablet-2-2x.jpg 2x"
                        sizes="350px" media="(min-width:1024px)">
                    <img class="photo--second-kitchen"
                        srcset="./img/mobile/about-kitchen-mobile/kitchen-2.jpg 1x, ./img/mobile/about-kitchen-mobile/kitchen-2-2x.jpg 2x"
                        src="../../img/mobile/about-kitchen-mobile/kitchen-2.jpg" alt="kitchen" sizes="244px">
                </picture>
                <p class="second-text-kitchen">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                    officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
        </ul>

        <!-- Slider-->
            <div class="kitchen-about-slider">
        <div class="kitchen-about-slider-container">
        <button class="about-slider-arrow-left" type="button">
    <svg width="30px" height="17px" class="kitchen-about-slider-left-svg">
        <use href="../../img/icons.svg#icon-cil_arrow-left"></use>
    </svg>
    </button>
        <button class="about-slider-arrow-right" type="button">
    <svg width="30px" height="17px" class="kitchen-about-slider-right-svg">
        <use href="../../img/icons.svg#icon-cil_arrow-right"></use>
    </svg>
    </button>
        </div>
    </div>
    </div>


</section>