<section class="menu">
  <div class="container">
    <div class="menu-section">
      <h2 class="menu-title" id="menu">МЕНЮ РЕСТОРАНУ</h2>
      <div class="menu-rest">
        <div class="menu-chapter col1">
          <h3 class="menu-chapter-name">Гарячі страви</h3>
          <div class="menu-point">
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Борщ з телятини з квасолею
                  <p class="discr-dish">
                    Телятина, картопля, капуста, морква, цибуля, квасоля,
                    часник, помідори, зелень, сметана
                  </p>
                </li>
                <li class="portion">400 г</li>
                <li class="price">240 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Суп сирний з куркою
                  <p class="discr-dish">
                    Курятина, картопля, морква, цибуля, печериці, сир м’який,
                    зелень
                  </p>
                </li>
                <li class="portion">400 г</li>
                <li class="price">200 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Паста карбонара
                  <p class="discr-dish">
                    Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                  </p>
                </li>
                <li class="portion">350 г</li>
                <li class="price">430 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Стейк зі свинини
                  <p class="discr-dish">
                    Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                    овочами
                  </p>
                </li>
                <li class="portion">400 г</li>
                <li class="price">500 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Горбуша в соусі з білого вина
                  <p class="discr-dish">
                    Ніжна горбуша, вершковий соус на основі білого вина
                  </p>
                </li>
                <li class="portion">400 г</li>
                <li class="price">400 грн</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="menu-chapter col2">
          <h3 class="menu-chapter-name">Гарніри та закуски</h3>
          <div class="menu-point">
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Запечені овочі
                  <p class="discr-dish">Кабачок, перець, помідор, баклажан</p>
                </li>
                <li class="portion">200 г</li>
                <li class="price">230 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Картопля фрі
                  <p class="discr-dish">Картопля, соус томатний</p>
                </li>
                <li class="portion">150 г</li>
                <li class="price">160 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Картопля по-селянськи
                  <p class="discr-dish">Картопля, спеції, соус пікантний</p>
                </li>
                <li class="portion">150 г</li>
                <li class="price">160 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Хрумкі соління з бочки
                  <p class="discr-dish">
                    Огірок солений, помідор квашений, квашена капуста, морква
                    по-корейські
                  </p>
                </li>
                <li class="portion">250 г</li>
                <li class="price">350 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Крильця курячі в медовому соусі
                  <p class="discr-dish">
                    Крильця курячі, гірчично-медовий соус, подається з морквою,
                    селерою і соусом блючиз
                  </p>
                </li>
                <li class="portion">400 г</li>
                <li class="price">420 грн</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="menu-chapter col3">
          <h3 class="menu-chapter-name">Салати</h3>
          <div class="menu-point">
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Цезар з куркою
                  <p class="discr-dish">
                    Куряче філе, листя салату, помідори чері, сир пармезан,
                    грінки, соус цезар
                  </p>
                </li>
                <li class="portion">230 г</li>
                <li class="price">450 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Цезар з креветками
                  <p class="discr-dish">
                    Тигрові креветки, листя салату, помідори чері, сир пармезан,
                    грінки, соус цезар
                  </p>
                </li>
                <li class="portion">230 г</li>
                <li class="price">300 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  Грецький салат
                  <p class="discr-dish">
                    Свіжі огірок, помідор, болгарський перець, оливки, сир
                    бринза, листя салату, соус
                  </p>
                </li>
                <li class="portion">230 г</li>
                <li class="price">280 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">
                  М’ясний салат
                  <p class="discr-dish">
                    Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                    болгарський перець, соус ранч
                  </p>
                </li>
                <li class="portion">230 г</li>
                <li class="price">300 грн</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="menu-chapter col4">
          <h3 class="menu-chapter-name">Десерти</h3>
          <div class="menu-point">
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">Торт наполеон</li>
                <li class="portion">230 г</li>
                <li class="price">300 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">Торт маковий</li>
                <li class="portion">230 г</li>
                <li class="price">300 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">Тірамісу</li>
                <li class="portion">120 г</li>
                <li class="price">260 грн</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="menu-chapter col5">
          <h3 class="menu-chapter-name">Напої</h3>
          <div class="menu-point">
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">Чай чорний/зелений</li>
                <li class="portion">500 мл</li>
                <li class="price">100 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">Еспресо</li>
                <li class="portion">30 мл</li>
                <li class="price">100 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">Американо</li>
                <li class="portion">150 мл</li>
                <li class="price">100 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">Капучино</li>
                <li class="portion">200 мл</li>
                <li class="price">160 грн</li>
              </ul>
            </div>
            <div class="item-dish">
              <ul class="dish list">
                <li class="name-dish">Лате</li>
                <li class="portion">200 мл</li>
                <li class="price">160 грн</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn-table-reserv js-open-modal" data-modal="1">Забронювати столик</button>
    </div>
  </div>
</section>