<div class="hero-main-background">
  <div class="header-gradient"></div>
  <header class="header" id="home">
    <div class="container-header">
      <div class="header-nav">
        <a class="logo" href="./index.html">MIMIHO</a>
        <ul class="header-roster list">
          <li class="nav-items">
            <a href="./restaurant-page.html" class="nav-menu-link link">Ресторан</a>
          </li>
          <li class="nav-items">
            <a class="nav-menu-contact link" href="tel:+380955559533">
              <svg class="icon" width="24" height="24">
                <use
                  href="./img/icons.svg#icon-fluent_phone-24-regular"
                ></use>
              </svg>
              <p class="phone">095 555 95 33</p>
            </a>
          </li>
          <li class="nav-items">
            <a href="./hotel-page.html" class="nav-menu-link link">Готель</a>
          </li>
          <li class="nav-items">
            <a class="nav-menu-contact link" href="tel:+380668491089">
              <svg class="icon" width="24" height="24">
                <use
                  href="./img/icons.svg#icon-fluent_phone-24-regular"
                ></use>
              </svg>
              <p class="phone">066 849 10 89</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <section class="hero">
    <div class="container">
      <div class="hero-room-slider-container">
        <button class="hero-room-slider left" type="button">
          <svg width="37" height="21" class="hero-room-slider-icon left">
            <use href="./img/icons.svg#icon-room-slide-arrow-left"></use>
          </svg>
        </button>
        <button class="hero-room-slider right" type="button">
          <svg width="37" height="21" class="hero-room-slider-icon right">
            <use href="./img/icons.svg#icon-room-slide-arrow-right"></use>
          </svg>
        </button>
      </div>
      <h1 class="hero-room-title">
        ДВОМІСНИЙ НОМЕР 
      </h1>
      <p class="hero-room-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <button class="hero-room-btn js-open-modal" data-modal="3" type="button">Переглянути ціни</button>
      <div class="hero-elements-thumb">
        <div class="hero-elements">
          <a
            class="map-location"
            href="https://goo.gl/maps/nCRCqF7u8mZtbLEB7"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="location-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-entypo_location-pin"></use>
            </svg>
            Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15
          </a>
        </div>
        <ul class="hero-soc-media list">
          <li class="list-items">
            <a
              href="https://www.instagram.com/"
              class="link"
              aria-label="Instagram"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="soc-icon" width="24" height="24">
                <use
                  href="./img/icons.svg#icon-akar-icons_instagram-fill"
                ></use>
              </svg>
            </a>
          </li>
          <li class="list-items">
            <a
              href="https://www.facebook.com/"
              class="link"
              aria-label="Facebook"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-jam_facebook-square"></use>
              </svg>
            </a>
          </li>
          <li class="list-items">
            <a
              href="https://web.telegram.org/z/"
              class="link"
              aria-label="Telegram"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-la_telegram-plane"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
