body {
  margin: 0;
}

.details-hotel,
.details-restaurant {
  padding: 48px 0 40px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
    url(../../img/mobile/hefo-all-hotel-bg-mobile.jpg) center no-repeat;
  background-size: cover;
  max-width: 414px;
  margin: 0 auto;
  padding: 24px 0 40px 0;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .details-hotel,
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url(../../img/mobile/hefo-all-hotel-bg-mobile-2x.jpg) center no-repeat;
    background-size: cover;
  }
}

.details-hotel-logo,
.details-restaurant-logo {
  font-family: 'Film P3';
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 12px;
}

.details-hotel-title,
.details-restaurant-title {
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-left: 40px;
  color: #ffffff;
  margin-bottom: 20px;
}

.details-hotel-text,
.details-restaurant-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #bababa;
  margin-left: 17px;
  width: 243px;
}

.details-hotel-list,
.details-restaurant-list {
  display: flex;
  gap: 20px;
  margin: 0 0 32px -15px;
}

.details-hotel-btn,
.details-hotel-link,
.details-restaurant-btn,
.details-restaurant-link {
  width: 236px;
  height: 48px;

  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
}

.details-hotel-btns,
.details-restaurant-btns {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.details-hotel-link,
.details-restaurant-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}

@media screen and (max-width: 1024px) {
  .details-hotel-list li:last-child,
  .details-restaurant-list li:last-child {
    display: none;
  }
}

/* ===============TABLET=============== */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .details-hotel,
  .details-restaurant {
    padding: 48px 0 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url(../../img/tablet/hefo-all-hotel-bg-tablet.jpg) center no-repeat;
    background-size: cover;
    max-width: 960px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .details-hotel,
    .details-restaurant {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.76),
          rgba(0, 0, 0, 0.76)
        ),
        url(../../img/tablet/hefo-all-hotel-bg-tablet-2x.jpg) center no-repeat;
      background-size: cover;
    }
  }

  .details-hotel-wrapper,
  .details-restaurant-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .details-hotel-list,
  .details-restaurant-list {
    gap: 34px;
    margin: 0;
  }
}

/* ===============DESKTOP=============== */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }

  .details-hotel,
  .details-restaurant {
    padding: 48px 0 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url(../../img/desktop/hefo-all-hotel-bg-desktop.jpg) center no-repeat;
    background-size: cover;
    max-width: 1140px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .details-hotel,
    .details-restaurant {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.76),
          rgba(0, 0, 0, 0.76)
        ),
        url(../../img/desktop/hefo-all-bg-desktop-2x.jpg) center no-repeat;
      background-size: cover;
    }
  }
}
