.hero-main-background {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: var(--background-hero-section-gradient), 
    url(../../img/mobile/hero-all-bg-mobile.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-main-background {
        background-image: var(--background-hero-section-gradient), 
        url(../../img/mobile/hero-all-bg-mobile-2x.jpg);
    }
}        

@media screen and (min-width: 415px) {
    .hero-main-background {
        background-image: var(--background-hero-section-gradient),
        url(../../img/tablet/hero-all-bg-tablet.jpg);  
    }


    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-main-background {
            background-image: var(--background-hero-section-gradient),
            url(../../img/tablet/hero-all-bg-tablet-2x.jpg);
        }
    }
}

@media screen and (min-width: 1025px) {
    /* .hero-main-background {
        max-width: 1280px;
    } */

    .hero-main-background {
        background-image: var(--background-hero-section-gradient), 
        url(../../img/desktop/hero-all-bg-desktop.jpg);
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-main-background {
            background-image: var(--background-hero-section-gradient), 
            url(../../img/desktop/hero-all-bg-desktop-2x.jpg);
        }
    }
}

.hh-container {
    position: relative;
    /* width: 100%;  */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header .header-top {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}

.header .logo {
    font-family: 'Film P3', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: var(--color-text-white);
    text-decoration: none;
    margin-right: auto;
}

.header .box {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 359px) {
    .header .box {
        width: 140px;
        justify-content: right;
        flex-wrap: wrap;
    }
}

.header .box .navigation-first,
.header .box .navigation-second {
    margin-right: 6px;
}

.header .box .menu-link {
    display: block;
    padding: 15px 0 15px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
    color: var(--color-text-brown);
    transition: color var(--transition-function);
}

.header .box .menu-link:hover,
.header .box .menu-link:focus {
    color: var(--color-contacts-section-text-brown);
}

@media screen and (min-width: 360px) {
    .header .box .menu-first {
        margin-right: 20px;
    }
}

.header .box .icon,
.hero .hero-elements .location-icon,
.hero .soc-media .soc-icon {
    fill: var(--color-text-brown);
    transition: fill var(--transition-function);
}

.header .box .menu-contact {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);
    letter-spacing: 0.02em;
    color: var(--color-text-white);
}

.header .box .phone {
    display: none;
}


/*----------------------SOC-MEDIA------------------*/

.hero .soc-media {
    z-index: 10;
    display: flex;
    gap: 20px;
}

.hero .soc-media .link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .soc-media .soc-icon {
    transition: transform 1400ms;
}

.hero .soc-media .soc-icon:hover,
.hero .soc-media .soc-icon:focus {
    transform: rotateZ(360deg);
    width: 30px;
    height: 30px;
}


/*-----------------SECTION HERO---------------*/

.hero {
    padding: 105px 0 20px 0;
}

.hero .title {
    margin: 0 auto 12px;
    width: 260px; 
    padding-left: 22px;
    font-family: 'Film P3', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: calc(103 / 96);
    letter-spacing: 0.3em;
    color: var(--color-text-white);
    text-transform: uppercase;

}

.hero .sub-title {
    text-align: center;
    margin-bottom: 40px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.02em;
    color: var(--color-text-white);
}

.hero .pre-title {
    text-align: center;
    margin-bottom: 113px;

    font-family: 'Times New Roman', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(36 / 32);
    letter-spacing: 0.05em;
    color: var(--color-text-white);
    text-transform: uppercase;
}

.hero .hero-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .hero .hero-elements {
        gap: 24px;
        margin-bottom: 58px;
    }
}

.hero .map-location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 8px 10px;
    margin-right: auto;
    border: 1px solid var(--color-soc-icon-fill);
    border-radius: 2px;
    z-index: 20;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--color-contacts-address-hero);
    text-decoration: none;
    transition: border-color var(--transition-function), color var(--transition-function);
}

@media screen and (max-width: 1023px) {
    .hero .map-location {
        position: absolute;
        top: -102px;
        right: 15px;
    }
}

.hero .map-location:hover,
.hero .map-location:focus {
    border-color: var(--color-contacts-section-text-brown);
    color: var(--color-contacts-section-text-brown);
}

.hero .hero-elements .map-location:hover .location-icon,
.hero .hero-elements .map-location:focus .location-icon {
    fill: var(--color-contacts-section-text-brown);
}

.hero .hero-elements .location-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.hero .hero-elements .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border: 2px solid var(--color-text-white);
    border-radius: 25px;
    background: var(--colors-bg-btn-default);

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.02em;
    color: var(--colors-text-btn-default);
    transition: background-color var(--transition-function), border-color var(--transition-function);
}

.hero .hero-elements .btn:hover,
.hero .hero-elements .btn:focus {
    background: var(--colors-border-btn-active);
    border: 2px solid var(--colors-text-btn-active);
    color: var(--colors-text-btn-active);
}

.btn-right {
    width: 236px;
}

.btn-shorter {
    width: 232px;
}



/* ===============MOBILE=============== */

@media screen and (min-width: 414px) {
    .hh-container {
        /* max-width: 414px; */
        width: 414px;
    }

    .header .box .menu-link{
        padding: 28px 0;
    }

    .hero .title {
        width: 303px;
        font-size: 96px;
    }

    .hero .hero-elements .btn {
        bottom: 40px;
        left: 109px;
    }

    .hero .map-location {
        top: -121px;
        right: 15px;
    }
}



/* ===============TABLET=============== */

@media screen and (min-width: 1024px) {
    .hh-container {
        /* max-width: 960px; */
        width: 1024px;
        padding: 0 47px;
    }

    .header .logo {
        font-size: 40px;
        line-height: calc(43 / 40);
    }

    .header .box .navigation-first,
    .header .box .navigation-second {
        margin-right: 32px;
    }

    .header .box .menu-first {
        margin-right: 72px;
    }

    .header .box .menu-link {
        padding: 38px 0;
        font-size: 20px;
        line-height: calc(24 / 20);
    }

    .header .box .menu-contact {
        padding: 8px;
        border: 1px solid var(--color-soc-icon-fill);
        border-radius: 2px;
        transition: border-color var(--transition-function), color var(--transition-function);
    }

    .header .box .menu-contact:hover,
    .header .box .menu-contact:focus {
        border-color: var(--color-contacts-section-text-brown);
        color: var(--color-contacts-section-text-brown);
    }

    .header .box .menu-contact:hover .icon,
    .header .box .menu-contact:focus .icon {
        fill: var(--color-contacts-section-text-brown);
    }

    .header .box .icon {
        margin-right: 4px;
    }

    .header .box .phone {
        display: block;
    }

    /*---------------SECTION HERO-------------*/

    .hero .hero-elements .location-icon:hover,
    .hero .hero-elements .location-icon:focus,
    .hero .soc-media .soc-icon:hover,
    .hero .soc-media .soc-icon:focus {
        fill: var(--color-svg-fill-broun);
    }

    .hero {
        padding: 88px 0 15px 0;
    }

    .hero .title {
        width: 404px;
        font-size: 128px;
        margin-bottom: 16px;
    }

    .hero .sub-title {
        margin-bottom: 56px;
        font-size: 20px;
        line-height: 1.2;
    }

    .hero .pre-title {
        font-size: 36px;
        line-height: 1.14;
        margin-bottom: 137px;
    }

    .hero .hero-elements {
        flex-direction: row;
        align-items: flex-end;
    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        .hero .hero-elements {
            margin-bottom: 25px;
        }
    }

    .hero .map-location {
        font-size: 16px;
        line-height: calc(20 / 16);
    }

    .hero .hero-elements .location-icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .hero .hero-elements .btn {
        bottom: 64px;
        left: 745px;
    }

    .hero .hero-elements .btn-right {
        margin-right: 40px;
    }
}



/* ===============DESKTOP=============== */

@media screen and (min-width: 1280px) {
    .hh-container {
        /* max-width: 1140px; */
        width: 1280px;
        padding: 0 85px;
    }

    .header .logo {
        margin-right: 86px;
    }

    /*-----------------SOC-MEDIA-------------------*/
    .hero .soc-media {
        position: absolute;
        bottom: 600px;
        left: 1083px;
    }

    /*----------------SECTION HERO-----------------*/
    .hero {
        padding: 64px 0;
    }

    .hero .title {
        margin-bottom: 32px;
    }

    .hero .sub-title {
        margin-bottom: 64px;
    }

    .hero .hero-elements .btn {
        bottom: 66px;
        left: 963px;
    }

    .hero .hero-elements .btn-right {
        margin-right: 60px;
    }
}