@media screen and (min-width: 320px),(min-width: 414px) {
  .about-hotel {
    padding: 16px 0px;
    margin: 0 auto;
    overflow-x: clip;
    background-color: var(--colors-bg-section-fon-lemon);
  }
  .about-hot-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 28px;
  }

  .about-hot-slogan {
    padding-top: 18px;
    margin-bottom: 6px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.16;
    color: #b4b4b4;
  }
  .about-hot-titles {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 0.75;
    color: #494848;
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
    /* width: 127px;
    height: 43px; */
    letter-spacing: 0.3em;
    color: #494848;
    text-decoration: none;
    text-transform: uppercase;
  }
  .about-hot-main-text {
    max-width: 242px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1, 25;
    letter-spacing: 0.02em;
    color: #7a7a7a;
  }
  .about-hot-img {
    
  }
  .about-hot--first-images {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
        margin-right: auto;
          margin-bottom: 32px;
  }
  .second-hot-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin: 0px;
        margin-bottom: 32px;
  }

  .about-hot--secondary-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #c79002;
    padding-right: 21px;
    max-width: 163px;

  }
  .second--photo-about-hotel {
    margin: 0;
  }
  .about-hot--second-img {
    max-width: 200px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    
  }
/* -------Slider---- */
.slider-hotel--box{
  margin-bottom: 20px;
}
.slider-hotel--list{
  display: flex;
    max-width: 330px;
    margin-right: 84px;
    column-gap: 24px;
    left: -225px;
    position: relative;
    
}
.hotel--swiper-slide{
  max-width: 245px;
}

.hot-about--slider-container{
      display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 36px;
}
  .hotel-slider--arrow-left {
    padding: 0;
    border: none;
    background-color: transparent;
        width: 32px;
          height: 32px;
  }
  .hotel-slider-arrow-right {
    padding: 0;
    border: none;
    background-color: transparent;
        width: 32px;
          height: 32px;
  }

  .hot-about--left-svg,
  .hot-about--right-svg {
    cursor: pointer;
    transition: fill var(--transition-function);
    width: 100%;
    height: 100%;
  }
  .hot-about--left-svg:hover,
  .hot-about--right-svg:hover {
    fill: var(--colors-text-btn-active);
  }
  .hot-about--left-svg:focus,
  .hot-about--right-svg:focus {
    fill: var(--colors-text-btn-active);
  }
}

/* ===============TABLET=============== */
@media screen and (min-width: 1024px) {
  .about-hotel{
    padding-bottom: 20px;
      padding-top: 0;
  }

  .about-hot-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: -32px;
    gap: 26px;
  }
  .about-hot {
    margin-top: 120px;
  }
  .about-hot-title{
    margin-bottom: 0; 
  }
  .about-hot-slogan {
    margin-right: 0;
    margin-bottom: 4px;
    width: 307px;
    font-size: 32px;
    line-height: 1.16;
    padding-top: 120px;
  }
  .about-hot-titles {
    font-size: 64px;
    line-height: 1.078;
    margin-bottom: 24px;
  }
  .about-hot-main-text {
    max-width: 419px;
    font-size: 16px;
    line-height: 1.25;
  }
  .about-hot-img {
    margin: 0;
    transform: translateY(-32px);
  }
  .second-hot-about {
    justify-content: flex-end;
    align-items: flex-start;

      margin-bottom: -16px;
  }
  .about-hot--secondary-text {
    position: relative;
      font-size: 16px;
      line-height: 1.25;
      max-width: 312px;
      top: 140px;
        }

  .second--photo-about-hotel {
    margin-top: -45px;
  }
  .about-hot--second-img {
    position: relative;
    max-width: 350px;
    top: -20px;
  }


  /* ----------SLIDER------------- */
  .slider-hotel--box{
        margin-bottom: -32px;
  }
  .slider-hotel--list{
    position: relative;
    justify-content: flex-start;
    max-width: 100%;
  margin-right: 0;
  right: 0;
  left: 0;
  column-gap: 40px;
  top: -28px;
  }
  .hot-about-slider{
    margin-top: 32px
  }
}

/* ===============DESKTOP=============== */
@media screen and (min-width: 1280px) {
  .about-hot-container {
  }
  .about-hot-main-text {
    margin-bottom: 162px;
    min-width: 488px;
  }
  .about-hot-img {
    margin-left: 95px;
    transform: translateY(-33px);
  }
  .second-hot-about{
        margin-bottom: -65px;
  }
  .hot-secondary--text {
    width: 816px;
  }
  .about-hot--secondary-text {
        top: 89px;
  }
  .second--photo-about-hotel {
    margin-top: -65px;
  }
  .about-hot--second-img {
    max-width: 460px;
    height: 574px;
    top: -65px;
  
  }


  /* --------SLIDER-------- */
  .slider-hotel--box{
    margin-bottom: -147px;
  }
  .slider-hotel--list{
        position: relative;
          top: -147px;
        
  }
  .hot-about-slider{
        margin-top: 40px;
  }
}
