@media screen and (min-width: 414px) {
  .about-restaurant {
    padding: 16px 0px;
    background: var(--colors-bg-section-fon-lemon);
    margin: 0 auto;
  }

  .about-rest-title {
  
    margin-bottom: 28px;
  
  }

  .about-rest-slogan {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    line-height: 1em;
    margin-bottom: 12px;
    color: #b4b4b4;
    margin-bottom: 12px;
  }

  .about-titles {
    font-family: 'Film P3', sans-serif;
    font-size: 40px;
    line-height: 1em;
    letter-spacing: 0.3em;
    margin-bottom: 12px;
    color: #494848;
    text-transform: uppercase;
  }

  .about-rest-main-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    max-width: 258px;
    color: #7a7a7a;
  }
  .about-first-images {
    min-width: 244px;
    margin-left: auto;
    margin-bottom: 32px;
    border-radius: 2px;
    box-shadow: var(--box-shadow-mobile-desktop);
  }

  .about-second-images {
    max-width: 200px;
    border-radius: 2px;
    box-shadow: var(--box-shadow-mobile-desktop);
  }

  .about-secondary-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    max-width: 163px;
    color: #c79002;
  }

  .second-rest-about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    column-gap: 20px;
  }

  /* -------------Slider----------- */
  .rest-about-slider {
    position: relative;
    left: 70px;
    margin: 0;
    /* box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25); */
  }

  .rest-about-slider-container {
    width: 330px;
  }

  .rest-about-slider-item {
    width: 245px;
    height: 245px;
    box-shadow: var(--box-shadow-mobile-desktop);
  }

  .rest-about-slider-image {
    box-shadow: var(--box-shadow-mobile-desktop);
  }

  .rest-about-slider-buttons {
    position: absolute;
    top: 265px;
    width: 108px;
    left: 120px;
  }

  .about-slider-arrow-left {
    padding: 0;
    border: none;
    margin-right: 30px;
    background-color: transparent;
  }

  .about-slider-arrow-right {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .about-restaurant {
    padding: 16px 0px;
    background: #fffdee;
    margin: 0 auto;
  }

  .about-rest-title {
    margin-bottom: 28px;
  }

  .about-rest-slogan {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    line-height: 1em;
    margin-bottom: 12px;
    color: #b4b4b4;
  }

  .about-titles {
    font-family: 'Film P3', sans-serif;
    font-size: 40px;
    line-height: 1em;
    letter-spacing: 0.3em;
    margin-bottom: 12px;
    color: #494848;
    text-transform: uppercase;
  }

  .about-rest-main-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    max-width: 258px;
    color: #7a7a7a;
  }

  .about-first-images {
    min-width: 244px;
    margin-left: auto;
    margin-bottom: 32px;
    border-radius: 2px;
    box-shadow: var(--box-shadow-mobile-desktop);
  }

  .about-second-images {
    max-width: 200px;
    border-radius: 2px;
    box-shadow: var(--box-shadow-mobile-desktop);
  }

  .about-secondary-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    max-width: 163px;
    color: #c79002;
  }

  .second-rest-about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    column-gap: 20px;
  }
  /* -------------Slider----------- */
  .rest-about-slider {
    position: relative;
    left: 70px;
    margin: 0;
    /* box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25); */
  }
  .rest-about-slider-container {
    width: 330px;
  }
  .rest-about-slider-item {
    width: 245px;
    height: 245px;
    box-shadow: var(--box-shadow-mobile-desktop);
  }
  .rest-about-slider-image {
    box-shadow: var(--box-shadow-mobile-desktop);
  }
  .rest-about-slider-buttons {
    position: absolute;
    top: 265px;
    width: 108px;
    left: 120px;
  }
  .about-slider-arrow-left {
    padding: 0;
    border: none;
    margin-right: 30px;
    background-color: transparent;
  }

  .about-slider-arrow-right {
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .rest-about-slider-left-svg,
  .rest-about-slider-right-svg{
    cursor: pointer;
    transition: var(--transition-function);
  }
    .rest-about-slider-left-svg:hover,
    .rest-about-slider-right-svg:hover,
        .rest-about-slider-left-svg:focus,
        .rest-about-slider-right-svg:focus{
          fill: var(--colors-text-btn-active);
        }


/* ===============TABLET=============== */
@media screen and (min-width: 1024px) {
  .about-restaurant {
    padding-bottom: 20px;
  }

  .about-rest-title {
    margin-bottom: 0;
  }

  .about-rest-slogan {
    font-size: 36px;
    line-height: 1.15;
    padding-top: 120px;
    margin-bottom: 4px;
  }

  .about-titles {
    font-size: 64px;
    line-height: 1.07;
    margin-bottom: 24px;
  }

  .about-rest-main-text {
    font-size: 16px;
    line-height: 1.21;
    max-width: 439px;
  }

  .about-rest-container {
    display: flex;
    align-items: center;
    gap: 26px;
  }

  .about-first-images {
    min-width: 400px;
    box-shadow: var(--box-shadow-tablet);
    position: relative;
    top: -32px;
    margin-bottom: 0;
  }

  .about-second-images {
    max-width: 350px;
    position: relative;
    top: -48px;
    box-shadow: var(--box-shadow-tablet);
  }

  .about-secondary-text {
    position: relative;
    font-size: 16px;
    line-height: 1.25;
    max-width: 312px;
    top: 148px;
  }

  .second-rest-about {
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 48px;
  }

  /* ------Slider------- */
  .rest-about-slider {
    max-width: 328px;
  }

  .rest-about-slider-container {
    width: 430px;
  }

  .rest-about-slider-item {
    width: 194px;
    height: 194px;
  }

  .rest-about-slider-image {
    box-shadow: var(--box-shadow-tablet);
  }

  .rest-about-slider-buttons {
    top: 230px;
    left: 325px;
  }

  .about-restaurant {
    padding: 0;
  }

  .about-rest-title {
    margin-bottom: 0;
  }

  .about-rest-slogan {
    font-size: 36px;
    line-height: 1.15;
  }

  .about-titles {
    font-size: 64px;
  }

  .about-rest-main-text {
    font-size: 16px;
    line-height: 1.21;
    max-width: 439px;
  }

  .about-rest-container {
    display: flex;
    align-items: center;
    gap: 26px;
  }

  .about-first-images {
    min-width: 400px;
    box-shadow: var(--box-shadow-tablet);
    position: relative;
    top: -32px;
    margin-bottom: 0;
  }

  .about-second-images {
    max-width: 350px;
    position: relative;
    top: -48px;
    box-shadow: var(--box-shadow-tablet);
  }

  .about-secondary-text {
    position: relative;
    font-size: 16px;
    max-width: 312px;
    top: 148px;
  }

  .second-rest-about {
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 48px;
  }
  /* ------Slider------- */
  .rest-about-slider {
    max-width: 328px;
  }
  .rest-about-slider-container {
    width: 430px;
  }
  .rest-about-slider-item {
    width: 194px;
    height: 194px;
  }
  .rest-about-slider-image {
    box-shadow: var(--box-shadow-tablet);
  }
  .rest-about-slider-buttons {
    top: 230px;
    left: 325px;
  }
}

/* ===============DESKTOP=============== */
@media screen and (min-width: 1280px) {
  .about-rest-slogan {
    margin-bottom: 4px;
  }

  .about-titles {
    margin-bottom: 24px;
  }

  .about-rest-main-text {
    max-width: 518px;
  }

  .about-rest-container {
    gap: 37px;
  }

  .about-first-images {
    max-width: 460px;
  }

  .about-second-images {
    max-width: 460px;
    top: -96px;
    box-shadow: var(--box-shadow-mobile-desktop);
  }

  .second-rest-about {
    column-gap: 32px;
  }

  .about-secondary-text {
    top: 89px;
  }

  /* ----Slider---- */
  .rest-about-slider {
    left: 10px;
  }

  .rest-about-slider-container {
    width: 550px;
  }

  .rest-about-slider-item {
    width: 254px;
    height: 254px;
  }

  .rest-about-slider-image {
    box-shadow: var(--box-shadow-mobile-desktop);
  }

  .rest-about-slider-buttons {
    top: 290px;
    left: 450px;
  }
  .about-rest-slogan {
    margin-bottom: 4px;
  }

  .about-titles {
    margin-bottom: 24px;
  }

  .about-rest-main-text {
    max-width: 518px;
  }

  .about-rest-container {
    gap: 37px;
  }

  .about-first-images {
    max-width: 460px;
  }

  .about-second-images {
    max-width: 460px;
    top: -96px;
    box-shadow: var(--box-shadow-mobile-desktop);
  }

  .second-rest-about {
    column-gap: 32px;
  }

  .about-secondary-text {
    top: 89px;
  }
  /* ----Slider---- */
  .rest-about-slider {
    left: 10px;
  }
  .rest-about-slider-container {
    width: 550px;
  }
  .rest-about-slider-item {
    width: 254px;
    height: 254px;
  }
  .rest-about-slider-image {
    box-shadow: var(--box-shadow-mobile-desktop);
  }
  .rest-about-slider-buttons {
    top: 290px;
    left: 450px;
  }
}
